<div class="card" style="margin: 0">
  <div class="card-header">
    Recent rolls
  </div>
  <div class="card-block pannel-container" #scrollRightPanel [scrollTop]="scrollRightPanel.scrollHeight">
    <ul class="list-unstyled">
      <li *ngFor="let diceLog of this.roomService.diceLogOutput | async">
        <span [style.border-color]="diceLog.colorRGB" class="dicelog-entry-header">
          <img src="{{getAvatarImage(diceLog.userImageUrl)}}" [style.background]="diceLog.colorRGB"
            class="character-image">
          <b class="character-name">{{diceLog.characterName}}</b>
        </span>
        <span class="dicelog-entry-footer">
          Rolled
          <clr-tooltip>
            <b clrTooltipTrigger>{{diceLog.total}}</b>
            <clr-tooltip-content clrPosition="top-left" clrSize="md" *clrIfOpen>
              <b *ngFor="let dice of diceLog.dice; let isLast=last">
                1d{{dice.maxValue + '[' + dice.result + ']'}}{{isLast ? '' : ' + '}}
              </b>
              <b *ngFor="let mod of diceLog.modifiers; let isLast=last">
                {{mod.name?'[' + mod.name + ']':''}}{{mod.value}}{{isLast ? '' : ' + '}}
              </b>
            </clr-tooltip-content>
          </clr-tooltip>
          <span *ngIf="diceLog.rollName"> for
            <b>{{diceLog.rollName}}.</b>
          </span>
        </span>
      </li>
    </ul>
  </div>
</div>