<div class="card" style="margin: 0">
    <div class="card-header">
        {{this.roomService.character.name}}
    </div>
    <div class="card-block" style="min-height: 70vh; max-height: 70vh; overflow-y: auto;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div class="clr-row">
            <div *ngFor="let diceCombination of this.roomService.character.diceCombination; let even = even" class="clr-col roll_button" (click)="addItem(diceCombination)">
                <img src="../../assets/icons/dice-twenty-faces-twenty.png" style="border-radius: 50%; max-width:50px; max-height:50px;"> {{diceCombination.rollName}}
            </div>
            <br/>
        </div>
    </div>
</div>