<div class="main-container" style="max-height: 100vh; background: blue">
    <header class="header header-1">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="dice"></clr-icon>
                <span class="title">Dicey, let´s roll</span>
            </a>
        </div>
        <div class="header-actions">
            <a href="javascript://" class="nav-link nav-icon">
                <clr-icon shape="cog"></clr-icon>
            </a>
        </div>
    </header>
    <app-canvas></app-canvas>
</div>